header.adm-header

  .adm-header__part
    .adm-header__title Панель администрирования


  .adm-header__part
    a.adm-header__link(href='/') Вернуться на сайт
    a.adm-header__link(href='/logout') Выйти