.contacts
  ul.contacts__list
    li.contacts__item
      i.contacts__icon.fa.fa-skype
      span.contacts__text barmin.work

    li.contacts__item
      i.contacts__icon.fa.fa-envelope
      span.contacts__text isBarmin@yandex.ru

    li.contacts__item
      i.contacts__icon.fa.fa-phone
      span.contacts__text +7 922 xxx xx xx

    li.contacts__item
      i.contacts__icon.fa.fa-map-marker
      span.contacts__text г. Пермь