header.header
  .header__part.header__social
    ul.social
      li.social__item
        a.social__btn.social__btn--vk(href="#404", title="Вконтакте")
      li.social__item
        a.social__btn.social__btn--git(href="#404", title="Github")
      li.social__item
        a.social__btn.social__btn--in(href="#404", title="Linkedin")


  .header__part
    nav.nav.nav--main
      .nav__trigger
        .nav__trigger-line
        .nav__trigger-line
        .nav__trigger-line

      .nav__drop
        ul.nav__list
          li.nav__item
            a.nav__link.title(href="works.html") Мои работы
          li.nav__item
            a.nav__link.title(href="about.html") Обо мне
          li.nav__item
            a.nav__link.title(href="blog.html") Блог
          li.nav__item
            a.nav__link.title(href="#404") Авторизация